<!DOCTYPE html>
{% extends "basic_app/base.html" %}
  {% block body_block %}
      <h1>WELCOME TO RELATIVE URL TEMPLATES!</h1>
      <p><a href=" {% url 'basic_app:other' %} ">THE OTHER PAGE</a></p>
      <p><a href=" {% url 'admin:index' %} ">THE ADMIN PAGE</a></p>
      <p> <a href=" {% url 'index' %} ">THE INDEX PAGE</a></p>
  {% endblock %}
