<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Users</title>
   </head>
   <body>

      <h1>Here are your users for appTwo</h1>
         {% if users %}

            <ol>
               {% for person in users %}
               <li>User Info</li>
                  <ul>
                     <li>First Name: {{ person.first_name }}</li>
                     <li>Last Name: {{ person.last_name }}</li>
                     <li>Email: {{ person.email }}</li>
                  </ul>
               {% endfor %}
            </ol>

         {% endif %}

   </body>
</html>
