<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   <body>
      <nav class='navbar navbar-default navbar-static-top'>
            <div class="container">
               <ul class="nav navbar-nav">
                  <li><a class="navbar-brand" href=" {% url 'index' %} ">DJANGO index</a></li>
                  <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                  <li><a class="navbar-link" href="{% url 'basic_app:register' %}">Register</a></li>

                  {% if user.is_authenticated %}
                  <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'basic_app:user_login' %}">Login</a></li>
                  {% endif %}

               </ul>
            </div>
      </nav>
      <div class="container">
         {% block body_block %}
         {% endblock %}
      </div>
   </body>
</html>
