<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta charset="utf-8">
      <title>Base</title>
   </head>
   <body>

      <nav class="navbar nav-pills">
         <ul class="nav">
            <li><a class="nav-link" href="{% url 'basic_app:list' %}">Schools</a></li>
            <li><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="#"></a></li>
         </ul>
      </nav>

      <div class="container">
         {% block body_block %}
         {% endblock %}
      </div>
   </body>
</html>
