<!DOCTYPE html>
{% load staticfiles %}
<html>
   <head>
      <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>Blog</title>

      <!--Bootstrap-->

      <!--Medium Style Editor-->

      <!--Custom CSS-->

      <!--Font-->
  </head>
   <body>

      <!--NAVBAR-->

      <!--CONTENT-->
      
   </body>
</html>
