body{
  background-color: rgb(0, 11, 94);
  /*border-top-width: thick;
  border-top: black;*/
  border: 20px 20px 20px 20px;
  border-color: red;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'PT Sans', sans-serif;
  color: white;
  border: 80px solid #20cde8;
  border-top: 30px solid rgb(0, 11, 94);
}

#one{
  width: 800px;
  margin: auto;
}

#two{
  width: 800px;
  margin: auto;

}
