/*div {
  color: red;
}*/

.firstDiv {
  color: blue;
}

.secondDiv {
  color: red;
}

#singledout {
  color: green;
  text-decoration: line-through;
}
/*
* {
  color: black;
}*/

h3 + ul {
  border: 4px dotted purple;
}

li a {
  color: red;
}

li a[href="www.wp.pl"] {
  color: blue;
  border: 5px solid orange;
}
