p{
  font-weight: bold;
  font-size: 26px;
  font-family: 'Lobster', cursive;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

.art{
  margin: auto;
}

td{
  height: 200px;
  padding: 100px;
  border: 4px solid white;
}

#one{
  background: #3C1518;
}

#two{
  background: #69140E;
}

#three{
  background: #A44200;
}

#four{
  background: #D58936;
}

#five{
  background: #FFF94F;
}
