body {
   background-image: url(https://static.pexels.com/photos/53537/caravan-desert-safari-dune-53537.jpeg);
   background-repeat: no-repeat;
}

p {
   color: white;
}

div {
   background-color: blue;
   border: 5px;
   border-width: medium;
   border-style: dashed;
   border-color: red;
}

span {
   background-color: black;
}
